<div class="tray-container">
  <div class="layout-json"></div>

  <nav class="navbar navbar-expand-lg navbar-light border border-light mb-3 sticky">
    <div class="container-fluid justify-content-start" *ngIf="traySelected">
      <div class="btn-group border border-success rounded me-3 g-0" role="group" aria-label="First group">        
        <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#addItemPanel">
          <i class="icon-color fas fa-home  fa-lg"></i> Add Items
        </button>
        <button class="btn" (click)="copyTray()">
          <i class="icon-color fas fa-bars fa-lg"></i> Copy
        </button>
        <button class="btn" class="liveToastBtn" (click)="removeTray()">
          <i class="icon-color fas fa-trash fa-lg"></i> Delete
        </button>
      </div>
      
      <div class="btn-group border border-success rounded me-3" role="group" aria-label="First group">
        <button class="btn" (click)="openFileUpload = !openFileUpload">
          <i class="icon-color fas fa-close fa-lg"></i> Pick Image
        </button>
        <div class="position-absolute popup-picker" *ngIf="openFileUpload">          
          <div class="card">
            <div class="card-header">
              Upload Images related to the Tray
            </div>
            <div class="card-body">
              <app-upload-files></app-upload-files>
            </div>
          </div>
        </div>
        
        <button class="btn" type="button" (click)="isColorOpen = !isColorOpen" >
          <i class="icon-color fas fa-close fa-lg"></i> Pick Color
        </button>
        <div class="position-absolute popup-picker" style="width:50%" *ngIf="isColorOpen">
            <color-sketch [color]="currentlyBeingEditedTray.color" width="100" (onChangeComplete)="changeColorComplete($event)"></color-sketch>
        </div>

        <div class="btn form-check form-switch" (click)="updateSearchValue()">
          <input type="checkbox" id="searchable" 
            [checked]="currentlyTraySearchable">
          <label class="form-check-label" for="searchable"> Enable Search</label>
        </div>
      </div>

      <div class="btn-group" role="group" aria-label="First group">
        <form [formGroup]="form" (ngSubmit)="saveTray()" class="d-flex">
          <ngx-number-spinner formControlName="quantity" class="quantity me-1" [min]="1"></ngx-number-spinner>
          <input class="form-control me-1" type="text" placeholder="Edit Name" aria-label="Search"  
          formControlName="trayname">
          
          <button class="btn btn-outline-success" type="submit" title="Save Changes" style="width: 140px;">
            <i class="icon-color fa fa-bars fa-lg me-1"></i>
            <span>Save</span>
          </button>

          <button  class="btn btn-primary" style="margin-left: 75px;"(click)="fetchTrayList(trayList)">SaveLayout</button>
        </form>
      </div>
    </div>

    <div class="container-fluid" *ngIf="!traySelected">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success mr-1" type="submit" 
        data-bs-toggle="tooltip" data-bs-placement="top" title="Search Tray for Items">
        <i class="icon-color fa fa-bars fa-lg"></i>
      </button>
    </div>
  </nav>

  <div class="offcanvas offcanvas-start" id="addItemPanel" style="width:600px;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <item-listing></item-listing>
    </div>
  </div>

  <div style="margin-top: 50px;">
    <ktd-grid
      [cols]="cols"
      [rowHeight]="rowHeight"
      [layout]="trayList"
      [compactType]="compactType"
      (dragStarted)="onDragStarted($event)"
      (resizeStarted)="onResizeStarted($event)"
      (dragEnded)="onDragEnded($event)"
      (resizeEnded)="onResizeEnded($event)"
      (layoutUpdated)="onLayoutUpdated($event)">
      <ktd-grid-item
        *ngFor="let item of trayList; trackBy:trackById; index as i"
        [id]="item.id"
        [transition]="currentTransition"
        [dragStartThreshold]="dragStartThreshold"
        [draggable]="!disableDrag"
        [resizable]="!disableResize">

        <div class="card m-1 p-2" (click)="editTray(item.id)" class="{{ trayDataList[i].cssClass }}">     
          <img src="{{ trayDataList[i].img }}" class="card-img-top rounded mx-auto d-block" 
            style="width:{{item.w * 100}}px; height:{{((item.h * 50) - 50)}}px;">
    
          <span class="card-text ">{{ trayDataList[i].name }}</span>
          <div class="position-absolute bottom-0 end-0 p-2" >
            <span class="badge badge-pill badge-primary" 
              style="background-color: {{ trayDataList[i].color}};">
              {{ trayDataList[i].quantity }}
            </span>
          </div>
        </div>
      </ktd-grid-item>
    </ktd-grid>
  </div>
</div>
