<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3"><br>
  <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div> 
    </div>
    <div class="col-md-6">
      <h4>Forms List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of products; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <h4>Forms</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentTutorial.name }}
        </div>
        <a class="badge badge-warning" routerLink="/editProduct/{{ currentTutorial.id }}">
          Edit
        </a>
        <a class="badge badge-warning" routerLink="/products/viewForm/{{ currentTutorial.id }}">
          view
        </a>
        <a class="badge badge-danger mr-2" (click)="deleteProduct(currentTutorial.id)">
        Delete
      </a>
      </div>
  
      <div *ngIf="!currentTutorial">
        <br />
        <p>Please click on a form...</p>
      </div>
    </div>
  </div>
  