
<div class="container" style="margin-top: 2%;">
    <form [formGroup]="formSection" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-5">
                <label>Store Name</label>
                <input type="text" style="    width: 138%;" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Store Name is required</div>
                </div>
            </div>
            <div class="form-group col-5" style="margin-left: 16%;">
                <label>Address</label>
                <textarea type="text" name="address" formControlName="address"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-7">
                <label>Longitude</label>
                <input type="Number" style="    width: 98%;" formControlName="longitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" />
                <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
                    <div *ngIf="f.longitude.errors.required">Longitude Value is required</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Latitude</label>
                <input type="Number" formControlName="lattitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lattitude.errors }" />
                <div *ngIf="submitted && f.lattitude.errors" class="invalid-feedback">
                    <div *ngIf="f.lattitude.errors.required">Latitude Value is required</div>
                </div>
            </div>
        </div>
        <!-- <div class="form-row">
                <div style="width: 70%;    margin-top: -3%;
                margin-left: 1%;"></div>
                <label style="margin-left: -71%;
                margin-top: 1%;">Select EmployeeNames</label><br>
                   <select style="padding: 1%;
                   width: 50%;
                   margin-top: 4%;
                   margin-left: -14%;" class="form-group col-3" id="selectedEmployeeNames" name="selectedEmployeeNames" [(ngModel)]="selectedEmployeeNames"> 
                      <option *ngFor="let names of selectedEmployeeNames" [ngValue]="names">{{names}}</option>
                   </select>
        </div> -->
          <div class="form-group">
                <button class="btn btn-primary">
                Submit
                </button>
                <a routerLink="stores" (click)=reDirectToStoreListing() class="btn btn-link">Cancel</a>
            </div>
    </form>

</div>




<!-- <form style="margin-top: 2%;" [formGroup]="formSection" (ngSubmit)="onSubmit()">

    <div class="form-row">
        <div style="margin-left: 20%;" class="form-group col-2">
            <label>StoreName</label>
            <input type="text"  class="form-control" style=" width: 150%;margin-top: 1%;" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">StoreName is required</div>
            </div>
        </div>
        <div style="margin-left:20%;" class="form-group col-1">
            <label>Address</label>
            <textarea style=" width: 332px;margin-top: 1%;" type="text" name="address" formControlName="address"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
    </div>
    <div class="form-row" style="margin-left: 11%;
    margin-top: -1%;">
        <div class="form-group col-7">
            <label style=" margin-left: 17%;">Longitude</label>
            <input style="width: 48%;
            margin-top: 1%;
            margin-left: 17%;" type="text" name="longitude" formControlName="longitude" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" />
            <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
             <div *ngIf="f.longitude.errors.required">Longitude Value is required</div>
            </div>
        </div>
        <div class="form-group col">
            <div class="form-group col-3" style=" margin-left: -20%;">
                <label >Lattitude:</label>
                <input type="text" style="width: 300%;margin-top: 1%;" name="lattitude" formControlName="lattitude" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lattitude.errors }" />
                <div *ngIf="submitted && f.lattitude.errors" class="invalid-feedback">
                 <div *ngIf="f.lattitude.errors.required">Latitude Value is required</div>
                </div>
            </div><br>
        </div>
    </div><br>
    <div  class="form-row" style="margin-left: 20%;">
      <div style="width: 70%;    margin-top: -3%;
      margin-left: 1%;">
             <label>Select EmployeeNames</label><br>
             <select style="padding: 1%;
             width: 50%;" class="form-group col-3" id="selectedEmployeeNames" name="selectedEmployeeNames" [(ngModel)]="selectedEmployeeNames"> 
                <option *ngFor="let names of selectedEmployeeNames" [ngValue]="names">{{names}}</option>
             </select> 
       </div>
    </div>
    <div style="margin-left:45%;" class="form-group">
        <button class="btn btn-primary">
            Submit
        </button>
        <a routerLink="stores" (click)="reDirectToStoreListing()" class="btn btn-link">Cancel</a>
    </div>

    <div class="app-container bg-light">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</form> -->
