<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form  name="myForm" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <label for="description">Username</label>
            <input class="form-control" id="username" 
                formControlName="username"
                name="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
          </div>
          <div class="form-group">
            <label for="title">Password</label>
            <input class="form-control" id="password" type="password"
                 formControlName="password"
                name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading"  class="btn btn-primary">Login</button>
            <a routerLink="/register" class="btn btn-link">Register</a>
            <a (click)="forgotpassword()" class="btn btn-link">Forgot Password</a>
            <div class="clearfix"></div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <div *ngIf="showError" class="alert alert-danger">Either Username Or Password Is InCorrect</div>
              <div *ngIf="showSuccess" class="alert alert-success">Login Successful!</div>
            </div>
          </div>
      </form>
  </div>
</div>
