<div class="container" style="margin-top: 20px;">
    <h1>Employees Listing</h1><br>
    <button style="padding: .25rem .5rem;font-size: .875rem;line-height: 1.5;border-radius: .2rem;" class="btn btn-sm btn-success mb-2"  (click)="reDirectToAddPage()">Add Employee</button>
    <table  class="table table-striped">
        <thead>
            <tr>
                <!-- <th>EmployeeName</th>
                <th>BirthDate</th>
                <th>Gender</th>
                <th>Salary</th>
                <th style="position: absolute;right: 42%">City</th>
                <th>Active</th>
               <th>CreatedOn</th> 
                <th style="position: absolute;right:193px;width:200px;">Options</th> -->
                <th>EmployeeId</th>
                <th>EmployeeName</th>
                <th>Salary</th>
                <th>Role</th>
                <th>City</th>
                <th style="position: relative;
                left: 0%;">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeList">
                <td>{{employee.id}}</td>
                <td>{{employee.employeeName}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.role}}</td>
                <td>{{employee.city}}</td>
                <!-- <td>{{employee.employeeName}}</td>
                <td>{{employee.birthDate| date:'MM/dd/yyyy' }}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.city}}</td>
                <td>{{employee.active}}</td>
                <td>{{employee.createdOn | date:'fullTime'}}</td>  -->
                <a style="margin-top: 5%;
                margin-left: 8%;" (click)="redirectToEmployeeWithId(employee.id)" class="btn btn-sm btn-primary mr-1">Edit</a>
                <td><button style="    position: relative;
                    left: -73%;
                    margin-top: -6%;" class="btn btn-sm btn-danger btn-delete-Employee" (click)="deleteEmployee(employee.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
