<div>
    <p class="mrg-btm-15 font-size-13">Please enter your Email to reset your password</p>
    <div class="form-group">
      <input class="form-control" id="email" type="email" [(ngModel)]="email"
        name="email" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="email" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Email is required</div>
      </div>
    </div>

    <div class="mt-3 text-center">
      <button class="btn btn-block btn-primary" (click)="reset()">Reset</button>
    </div>
</div>