 
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="UserObj">
    <div class="navbar-nav"  *ngFor="let item of menuObject ;">
        <a  class="nav-item nav-link" style="color: white;" (click)="refreshPage(item.action)"  target="_self" >{{item.label}}</a>
    </div>
    <a class="nav-item nav-link" (click)="logout()" style="color: white;">Logout</a>
    <a  class="nav-item nav-link" style="color: white;" (click)="fetchAllRacks()" target="_self" >Racks</a>
    <a  class="nav-item nav-link" style="color: white;" (click)="fetchUserProfileFK()" target="_self" >UserProfile</a>
</nav>



    <!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">    
    <div>
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>